header {
    height: 400px;
    width: 100%;
    text-align: center;
    position: relative;
    top: 120px;
    margin-bottom:120px;
    /* bottom:50%; */
    background-color: rosybrown;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

